@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i&display=swap')
// variables
$family-sans-serif: 'Red Hat Display', BlinkMacSystemFont, -apple-system, sans-serif
$kilobit-blue: #297FFF
$primary: $kilobit-blue
$navbar-height: 4.25rem
$input-radius: 100px
$input-shadow: none
$input-border-color: #5E5E5E
$input-focus-border-color: #5e5e5e
$input-color: #5e5e5e
input.input
    padding: 10px 15px !important
@import "../node_modules/bulma/bulma.sass"